---
import { getCollection, render } from "astro:content";
import BaseBlog from "../../layouts/baseBlog.astro";

export async function getStaticPaths() {
  let posts = await getCollection("posts");

  return posts.map((post) => {
    return {
      params: { slug: post.data.slug },
      props: { post },
    };
  });
}

const { post } = Astro.props;
const { Content } = await render(post);
---

<BaseBlog>
  <section class="container flow">
    <Content />
  </section>
</BaseBlog>
