/* The integration's default injected base.css file */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-neue-montreal font-medium;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-neue-montreal font-bold;
  }

  h1.display {
    @apply font-pp-seiko font-thin uppercase;
  }
  h1 {
    @apply text-[32px] md:text-[48px] lg:text-[64px];
  }
  h2 {
    @apply text-[24px] md:text-[32px] lg:text-[40px];
  }
  h3 {
    @apply text-[20px] md:text-[24px] lg:text-[32px];
  }
  h4 {
    @apply text-[18px] md:text-[20px] lg:text-[24px];
  }
  h5 {
    @apply text-[16px] md:text-[18px] lg:text-[20px];
  }
  h6 {
    @apply text-[14px] md:text-[16px] lg:text-[18px];
  }
  pre {
    @apply p-[1.66666667em_1.6666666667rem] bg-[#24292e] text-[#e1e4e8];
  }
  ul {
    @apply list-disc pl-[1.66666667em];
  }
  ol {
    @apply list-decimal pl-[1.66666667em];
  }
  :not(pre) code {
    @apply font-neue-montreal-mono bg-[#24292e] px-[3px];
  }
  blockquote {
    @apply p-[1.66666667em_1.6666666667rem] bg-[#24292e];
  }
  table {
    @apply border-collapse;
  }
  th,
  td {
    @apply border border-[#30363d] px-[1.66666667em] py-[0.8333333333em];
  }
}

@layer components {
  .container {
    @apply 2xl:max-w-[1350px] mx-auto px-[16px] md:px-[45px];
  }
  .btn-link {
    @apply text-white px-[15px] md:px-[30px] py-[7px] rounded-[7px] border border-[#919191] inline-block;
  }
  .triangle-text-before {
    @apply before:content-['►'] before:text-[14px] before:rotate-[-90deg] before:inline-block;
  }
  .triangle-text-after {
    @apply after:content-['►'] after:text-[14px] after:rotate-[-90deg] after:inline-block;
  }
  .case-studies-bubble {
    @apply absolute top-[-4px] right-[-10px] text-[8px] font-neue-montreal-mono pointer-events-none;
  }
}

@layer utilities {
  .flow > * + * {
    margin-block-start: var(--flow-space, 1em);
  }

  .mi > * + * {
    margin-inline-start: var(--float-space, 0);
  }

  @media all and (min-width: theme("screens.md")) {
    .mi.start-mi {
      --float-space: 1em;
    }
  }

  @media all and (min-width: theme("screens.md")) {
    .flow.zero-flow > * + * {
      --flow-space: 0;
    }
  }
}
