---
import Socials from "./Socials.astro";
import Copyright from "../common/Copyright.astro";
---

<footer class="container mt-[80px]">
  <div
    class="flex flex-wrap items-center justify-between flow zero-flow border-t border-x border-white rounded-t-[14px] py-[36.5px] px-[22.5px] md:px-[54px]"
  >
    <Socials simpleFooter={true} />
    <Copyright />
  </div>
</footer>
