---
// Component Script (JavaScript)
---

<section class="lg:pt-[135px] lg:pb-[80px] container flex flex-col">
  <div
    class="flex flex-col md:flex-row items-start md:items-center justify-between font-neue-montreal-mono flow mi start-mi zero-flow mb-[45px] lg:[90px]"
  >
    <h2 class="text-[14px] font-light font-neue-montreal-mono uppercase">
      About ►
    </h2>
    <img
      aria-role="decoration"
      src="/about.jpg"
      alt="WordCamp Asia 2024 in Taipei as Patterns Lead"
    />
    <p class="text-[14px] font-light max-w-[353px]">
      PASSIONATE ABOUT ART & DESIGN, I HELP COMPANIES & BRANDS AROUND THE WORLD.
      CREATING MEMORABLE DIGITAL SOLUTIONS — I KEEP THINGS SIMPLE BY CRAFTING
      CLEAN & EMOTIONAL EXPERIENCES.
    </p>
  </div>

  <div
    class="flex flex-col md:flex-row items-start md:items-center justify-between font-neue-montreal-mono flow mb-[45px] lg:[90px] mi start-mi"
  >
    <h2 class="text-[14px] font-light font-neue-montreal-mono uppercase">
      EXPERTISE ►
    </h2>
    <p class="text-[30px] font-pp-seiko max-w-[704px]">
      UI/UX — WORDPRESS — SHOPIFY — WEB APPLICATION — MOBILE APP.
    </p>
  </div>
</section>
