---
// Component Script (JavaScript)
---

<section class="lg:pt-[135px] lg:pb-[80px] container flex flex-col">
  <div class="">
    <h2 class="text-[38px] lg:text-[86px] uppercase font-pp-seiko">
      Case <span class="text-triangle-after font-neue-montreal">Studies</span>
    </h2>
  </div>
</section>
