---
// Component Script (JavaScript)
const { caseStudies } = Astro.props;
---

<div class={`container ${caseStudies ? "py-0" : "py-[58px]"}`}>
  <svg
    width="100%"
    height="17"
    viewBox="0 0 1352 17"
    fill="none"
    preserveAspectRatio="none"
    xmlns="http://www.w3.org/2000/svg"
  >
    <path d="M4.99969 9.00003L1350 8.00003" stroke="white"></path>
    <path
      d="M1350.88 4.54L1350.88 11.484L1344.66 8.012L1350.88 4.54Z"
      fill="white"></path>
    <path d="M1.12 12.46V5.516L7.336 8.988L1.12 12.46Z" fill="white"></path>
  </svg>
</div>
