---
import Socials from "./Socials.astro";

const date = new Date();
const localtime = date.toLocaleString("en-US", {
  timeZone: "Asia/Ho_Chi_Minh",
  hour: "2-digit",
  minute: "2-digit",
});
---

<footer class="container py-[50px]">
  <div
    class="py-[43px] md:py-[86px] px-[22.5px] md:px-[54px] border border-[#919191] rounded-[14px]"
  >
    <div
      class="flex flex-wrap items-center justify-between border-b border-b-[#919191] pb-[35px] lg:pb-[100px] gap-[40px]"
    >
      <div class="max-w-[585px] flow">
        <h2 class="text-[24px] md:text-[53px]">
          <span class="font-pp-seiko">LETS CREATE</span>
          AMAZING PROJECT TOGETHER .
        </h2>
        <p
          class="font-light font-neue-montreal-mono text-[#919191] text-[14px] md:text-base"
        >
          BASED IN VIETNAM - WORKING WORLDWIDE
        </p>
      </div>
      <div class="flow">
        <a
          role="button"
          class="text-[24px] md:text-[30px] font-pp-seiko"
          href="mailto:samueltirtawidjaja@gmail.com"
          aria-label="Send me an Email"
        >
          → SEND ME EMAIL
        </a>
        <div class="text-[#919191]">
          LOCAL TIME ► <span class="ml-4 text-white current-time"
            >{localtime}</span
          >
        </div>
      </div>
    </div>

    <div
      class="pt-[36.5px] flex flex-wrap items-center justify-between flow zero-flow"
    >
      <Socials />
      <div
        class="text-[#919191] font-neue-montreal-mono font-light text-[12px] text-center md:text-base w-full md:w-fit"
      >
        © Made with 🤍 SAMUEL TIRTAWIDJAJA
      </div>
    </div>
  </div>
</footer>
