---
// Component Script (JavaScript)
---

<!-- Your template here! -->
<header
  role="region"
  class="flex justify-between items-start lg:items-center px-[16px] md:px-[45px] py-[37.5px]"
>
  <a
    class="font-pp-seiko text-[12px] md:text-[18px]"
    href="/"
    aria-label="back to homepage"
  >
    — SAMUEL TIRTAWIDJAJA
  </a>

  <nav class="navigation-container">
    <ul
      class="md:ms-[1.5em] md:flex md:items-center md:justify-between list-none md:gap-[40px] lg:gap-[80px]"
      role="navigation"
    >
      <li class="m-0" role="menuitem">
        <a href="/case-studies">Case Studies</a>
      </li>
      <li class="m-0" role="menuitem"><a href="/playground">Playground</a></li>
      <li class="m-0" role="menuitem"><a href="/about">About</a></li>
      <li class="m-0" role="menuitem"><a href="/blog">Blog</a></li>
    </ul>
  </nav>

  <a
    href="mailto:samueltirtawidjaja@gmail.com"
    aria-label="click to send email"
    class="hidden btn-link lg:block"
  >
    Email Me
  </a>
</header>
