---
import Socials from "./Socials.astro";
---

<footer class="container mt-[80px]">
  <div
    class="flex flex-wrap items-center justify-between flow zero-flow border-t border-x border-white rounded-t-[14px] py-[36.5px] px-[22.5px] md:px-[54px]"
  >
    <Socials simpleFooter={true} />
    <div
      id="copyright"
      class="text-[#919191] font-neue-montreal-mono font-light text-[12px] text-center md:text-base w-full lg:w-fit"
    >
      © Made with 🤍 SAMUEL TIRTAWIDJAJA
    </div>
  </div>
</footer>
