---
const { id, slug, title, categories } = Astro.props;
---

<div role="menuitem" class="container py-[28px]">
  <a
    href={`/case-studies/${slug}/`}
    class="flex flex-col items-center justify-between md:flex-row flow zero-flow"
  >
    <span class="font-neue-montreal-mono text-[14px] text-[#919191]"
      >Case Studies /0{id}</span
    >
    <h2
      class="font-pp-seiko text-[40px] md:text-[48px] triangle-text-after max-w-[400px]"
    >
      {title}
    </h2>
    <div class="flex items-center gap-[10px]">
      {
        categories &&
          categories.map((category, index) => (
            <span class="uppercase text-[#919191] text-[14px] font-neue-montreal-mono">
              {category}
              {index !== categories.length - 1 ? "—" : ""}
            </span>
          ))
      }
    </div>
    <div class="font-pp-seiko text-[28px]">→</div>
  </a>
</div>
