---
// Component Script (JavaScript)
---

<!-- Your template here! -->
<nav class="socials-container max-w-[435px] mx-auto">
  <ul
    class="flex flex-col md:flex-row items-center justify-between list-none gap-[40px] lg:gap-[80px]"
    role="navigation"
  >
    <li class="relative m-0" role="menuitem">
      <a href="https://eonstudios.io/">Eonstudios</a>
    </li>
    <li class="m-0" role="menuitem">
      <a href="https://github.com/Saoming">Github</a>
    </li>
    <li class="m-0" role="menuitem">
      <a href="https://www.linkedin.com/in/samuel-tirtawidjaja-891939132/"
        >Linkedin</a
      >
    </li>
    <li class="m-0" role="menuitem">
      <a href="https://bsky.app/profile/samueltirtawidjaja.bsky.social">Bsky</a>
    </li>
  </ul>
</nav>
