---
// Shared copyright line — rendered by both Footer and SimpleFooter.
// Only one footer renders per page, so id="copyright" stays unique in the DOM.
---

<div
  id="copyright"
  class="text-[#919191] font-neue-montreal-mono font-light text-[12px] text-center md:text-base w-full lg:w-fit"
>
  © Made with 🤍 SAMUEL TIRTAWIDJAJA
</div>
