---
import "../styles/index.css";
import Head from "../components/Head.astro";
import Header from "../components/Header.astro";
import SimpleFooter from "../components/SimpleFooter.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <Head />
  </head>
  <body class="text-white bg-background">
    <Header />
    <main>
      <slot />
    </main>
    <SimpleFooter />
  </body>
</html>
