---
import { getCollection } from "astro:content";
import BaseCaseStudies from "../../layouts/baseCaseStudies.astro";

export async function getStaticPaths() {
  let projects = await getCollection("projects");

  return projects.map((project) => {
    return {
      params: { slug: project.data.slug },
      props: { project },
    };
  });
}

const { project } = Astro.props;
---

<BaseCaseStudies>
  <section class="container">
    <h1>Coming Soon</h1>
  </section>
</BaseCaseStudies>
