---
import { getCollection, render } from "astro:content";
import Base from "../../layouts/base.astro";

export async function getStaticPaths() {
  let projects = await getCollection("projects");

  return projects.map((project) => {
    return {
      params: { slug: project.data.slug },
      props: { project },
    };
  });
}

const { project } = Astro.props;
---

<Base>
  <section class="container">
    <h1 data-element={project.data.title}>Coming Soon</h1>
  </section>
</Base>
